[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
pydantic = "*"
uvicorn = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-dotenv = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.10"
